/* Adicionar aqui toda a estilização criada para sua aplicação. */

body {

    margin: 0;
    font-family: sans-serif;

}

:root {

    --azul: #32b9cd;
    --amarelo: #e3b062;

}

/* HEADER */

.header {

    background-color: black;
    border-bottom: 3px solid var(--azul)

}

.header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px ;

}

.titulo {

    color: var(--azul)

}

.navbar {

    display: flex;
    justify-content: space-between;
    color: var(--amarelo);
    list-style: none;
    width: 300px;

}

.navbar a {

    color: var(--amarelo);
    text-decoration: none;

}

.agora {

    font-weight: bolder;

}

/* BANNER */

.banner {

    height: 400px;
    width: 100%;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;

}

.banner .container {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner .container p {

    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;

}

.banner .container span {

    font-weight: bolder;

}

.social {

    height: 400px;
    width: 100%;
    background-color: #dcdcdc;

}

.social .container {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.boxes {

    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box {

    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.box img {

    width: 120px;
    height: 120px;

}

.box h4 {

    margin: 0;
    margin-top: 10px;
    color: #e4005A;

}

/* FOOTER */

.footer {

    height: 120px;
    width: 100%;
    background-color: var(--azul);
    
}

.footer .container {
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.footer h4 {

    margin-bottom: 0;

}

/* LOGIN */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    background-image: url('../assets/imgs/bg-jelly-fish-para_outras_pags.png');
}

.card-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #dcdcdc;
    width: 600px;
    height: 300px;
    color:#e4005A;
    border-radius: 5px;
}

.footer-login {
    width: 100%;
    background-color: var(--azul);
    height: 37px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    padding-bottom: 0;
}

.formulario .campo input{
    display: flex;
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--azul);
}

.formulario{
    display: flex;
    flex-direction: column;
}

.formulario button{
    width: 120px;
    align-self: center;
    background-color: #e4005A;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 3px;
    height: 30px;
}

.cadastro{
    display: flex;
    background-image: url('../assets/imgs/bg-jelly-fish-para_outras_pags.png');
    height: 83vh;
    align-items: center;
    justify-content: center;
}

.container .card-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 650px;
    background-color: #dcdcdc;
    border-radius: 5px;
    padding: 15px;
}
.card-cadastro button{
    margin-bottom: 30px;
}

.card-cadastro h2{
    color: #e4005A;
}

.card-cadastro .campo{
    color: #e4005A;
}

.footer-cadastro{
    background-color: var(--azul);
    height: 37px;
}